@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* DegularDemo */
/* Regular */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Semibold */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/* Semibold Italic */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

/* Thin Italic */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* Black Italic */
@font-face {
    font-family: 'DegularDemo';
    src: url('/fonts/DegularDemo/fonnts.com-DegularDemo-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}



body {
    font-family: 'DegularDemo', sans-serif;
    font-weight: 300; /* Regular */
    letter-spacing: 0.05em;
  }
  
  h1 {
    font-family: 'DegularDemo', sans-serif;
    font-weight: 700; /* Bold */
    
  }
  
  em {
    font-family: 'DegularDemo', sans-serif;
    font-style: italic; /* Italic */
  }
  
a {
    display:inline-block;
}

  /* PRESS START */
  /* Style for the entire text and spans */
.jumping-text {
    margin: 0;
    position: relative; /* Allows positioning of the arrow */
  }
  
  .jumping-text span {
    display: inline-block;
    transition: color 0.3s ease;
  }
  
  /* Style for the ">" arrow */
  .jumping-text .arrow {
    position: relative;
    margin-right: 8px; 
    transition: transform 0.5s ease, color 0.5s ease; /* Smooth transition for both position and color */
    color: #F0B541; /* Initial color */
  }
  
  /* Hover effect for the ">" arrow */
  .jumping-text:hover .arrow {
    transform: translateX(5px); /* Move right on hover */
    color: #F0B541; /* Change color on hover */
  }
  
  /* Jump animation for the text letters */
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust jump height */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Hover effect for the text letters - animation starts only on hover */
  .jumping-text:hover span:not(.arrow) {
    color: #F0B541;
    animation: jump 0.5s ease infinite;
    animation-fill-mode: forwards;
  }
  
  /* Individual delays for each letter for sequential jumping */
  .jumping-text:hover span:nth-child(3) { animation-delay: 0.1s; }
  .jumping-text:hover span:nth-child(4) { animation-delay: 0.2s; }
  .jumping-text:hover span:nth-child(5) { animation-delay: 0.3s; }
  .jumping-text:hover span:nth-child(6) { animation-delay: 0.4s; }
  .jumping-text:hover span:nth-child(7) { animation-delay: 0.5s; }
  .jumping-text:hover span:nth-child(9) { animation-delay: 0.6s; }
  .jumping-text:hover span:nth-child(10) { animation-delay: 0.7s; }
  .jumping-text:hover span:nth-child(11) { animation-delay: 0.8s; }
  .jumping-text:hover span:nth-child(12) { animation-delay: 0.9s; }
  .jumping-text:hover span:nth-child(13) { animation-delay: 1.0s; }

/* Blinking Effect */
.blinking-text {
  text-shadow: 0 0 3px #F0B541; /* Optional: glow effect for retro style */
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


  /* Container (word "banana") */
.banana-hover {
    position: relative;
    cursor: pointer;
  }
  
  /* Image is hidden initially */
  .pop-up-image {
    position: absolute;
    bottom: 100%; /* Positioned above the text */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Prevent interaction with the image */
    transition: opacity 0.3s ease;
  }
  
  /* Show the image and animate it on hover */
  .banana-hover:hover .pop-up-image {
    opacity: 1;
    animation: fall-down 0.6s ease-in-out;
  }
  
  /* Keyframes for the "fall down" effect */
  @keyframes fall-down {
    0% {
      transform: translate(-50%, 40%);
      opacity: 0;
    }
    40% {
      transform: translate(-50%, -40%);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  
  
  .glow-text {
    color: #666;
    text-align: center;
    transition: .5s;
  }
  
  .glow-text::before {
    content: '';
    background: #F0B541;
    z-index: -1;
    filter: blur(2px);
    transform: scale(1.1);
    transition: .5s;
  }
  
  .glow-text:hover::before {
    filter: blur(8px);
    transform: scale(1.2);
  }
  
  .glow-text:hover {
    color: #F0B541;
    text-shadow: 0px 0px 20px #F0B541, 0 0 20px #F0B541;
  }
  
  
  .heartbeat {
    position: absolute;
    width: fit-content;
    background-color: #F0B541;
    width: 1vw;
    height: 1vw;
    opacity: 0;
    z-index: 10;
  }
  
  .dot {
    position: relative;
    width: fit-content;
    background: #F0B541;
    width: 1vw;
    height: 1vw;
  }
  
  .heartbeat:hover {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    opacity: 0.75;
  }
  
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  

  .animated-text span {
    display: inline-block;
    transition: font-weight 0.3s;
    
  }
  
  .animated-text:hover span {
    animation: boldLetters 1s forwards;
  }
  
  @keyframes boldLetters {
    0% {
      font-weight: 400;
      color:black;
    }
    25% {
        font-weight: 500;
    }
    50% {
        font-weight: 600;

    }
    75% {
        font-weight: 700;
    }
    100% {
      font-weight: 800;
    }
  }

  
  
  .animated-text span:nth-child(1) { animation-delay: 0s; }
  .animated-text span:nth-child(2) { animation-delay: 0.1s; }
  .animated-text span:nth-child(3) { animation-delay: 0.2s; }
  .animated-text span:nth-child(4) { animation-delay: 0.3s; }
  .animated-text span:nth-child(5) { animation-delay: 0.4s; }
  .animated-text span:nth-child(6) { animation-delay: 0.5s; }

  .bounce-button {
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .bounce-button:hover {
    cursor: pointer;
    animation: bounce 0.6s ease;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    70% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(-2.5px);
    }
    100% {
      transform: translateY(0);
    }
  }




  a {

    text-decoration: none;
    transition: color 0.3s;
    outline: none;
  }
  
  
  a.flip-animate {
    perspective: 1300px;
    
    span {
      position: relative;
      display: inline-block;
      padding: 0;    
      transition: transform 0.3s;
      transform-origin: 50% 0;
      transform-style: preserve-3d;
    }
    
    span:before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      content: attr(data-hover);
      transition: color 0.3s;
      transform: rotateX(-90deg);
      transform-origin: 50% 0;
      text-align: center;
    }
    
    &:hover span,
    &:focus span {
      transform: rotateX(90deg) translateY(-22px);
    }
    
    &:hover span:before,
    &:focus span:before {
      color: #F0B541;
    }
  }

  @keyframes moveOutInTopLeft {
    0% {
      transform: translate(0px, 0px); /* Initial position */
    }
    50% {
      transform: translate(-8px, -8px); /* Move up and to the left */
    }
    100% {
      transform: translate(0px, 0px); /* Return to initial position */
    }
  }
  
  @keyframes moveOutInTopRight {
    0% {
      transform: translate(0px, 0px); /* Initial position */
    }
    50% {
      transform: translate(8px, -8px); /* Move down and to the right */
    }
    100% {
      transform: translate(0px, 0px); /* Return to initial position */
    }
  }
  
  @keyframes moveOutInBottomLeft {
    0% {
      transform: translate(0px, 0px); /* Initial position */
    }
    50% {
      transform: translate(-8px, 8px); /* Move down and to the left */
    }
    100% {
      transform: translate(0px, 0px); /* Return to initial position */
    }
  }
  
  @keyframes moveOutInBottomRight {
    0% {
      transform: translate(0px, 0px); /* Initial position */
    }
    50% {
      transform: translate(8px, 8px); /* Move down and to the right */
    }
    100% {
      transform: translate(0px, 0px); /* Return to initial position */
    }
  }
  
  /* Apply the animations */
  .animate-out-in-top-left {
    animation: moveOutInTopLeft 1s infinite;
  }
  
  .animate-out-in-top-right {
    animation: moveOutInTopRight 1s infinite;
  }
  
  .animate-out-in-bottom-left {
    animation: moveOutInBottomLeft 1s infinite;
  }
  
  .animate-out-in-bottom-right {
    animation: moveOutInBottomRight 1s infinite;
  }
  

/* Base style for smooth transitions */
.tilt-sign-right, .tilt-sign-left {
  transition: transform 0.5s ease-in-out;
}

/* Tilt-right animation */
@keyframes fall-right {
  0% { transform: rotate(0deg); }
  40% { transform: rotate(-100deg); }
  60% { transform: rotate(-60deg); }
  80% { transform: rotate(-75deg); }
  100% { transform: rotate(-70deg); }
}

.tilt-sign-right.active {
  transform-origin: right top; /* Anchor the tilt at the top-right corner */
  animation: fall-right 1.5s ease-out forwards;
}

/* Tilt-left animation */
@keyframes fall-left {
  0% { transform: rotate(0deg); }
  40% { transform: rotate(100deg); }
  60% { transform: rotate(60deg); }
  80% { transform: rotate(75deg); }
  100% { transform: rotate(70deg); }
}

.tilt-sign-left.active {
  transform-origin: left top; /* Anchor the tilt at the top-left corner */
  animation: fall-left 1.4s ease-out forwards;
}

/* Reset animations */
.reset-left, .reset-right {
  transition: transform 0.5s ease-in-out;
}

/* Reset-left animation */
@keyframes reset-left {
  0% { transform: rotate(70deg); }
  100% { transform: rotate(0deg); }
}

.reset-left.active {
  transform-origin: left top; /* Anchor the reset at the top-left corner */
  animation: reset-left 1.4s ease-out forwards;
}

/* Reset-right animation */
@keyframes reset-right {
  0% { transform: rotate(-70deg); }
  100% { transform: rotate(0deg); }
}

.reset-right.active {
  transform-origin: right top; /* Anchor the reset at the top-right corner */
  animation: reset-right 1.5s ease-out forwards;
}

/* Apply this class to your project description paragraph */
.project-description {
  display: -webkit-box;        /* Allows text to wrap with ellipsis */
  -webkit-line-clamp: 3;       /* Limit the number of lines before truncating */
  -webkit-box-orient: vertical;/* Needed for -webkit-line-clamp to work */
  overflow: hidden;            /* Hide text that overflows */
  text-overflow: ellipsis;     /* Show ellipsis (...) when text overflows */
  line-height: 1.5;            /* Adjust based on your design */
}


.gradient-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Gradient effect that moves from left to right */
.gradient-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #F0B541, transparent);
  transition: left 0.5s ease;
  z-index: 1;
  pointer-events: none;
}

/* Hover effect to move the gradient */
.gradient-effect:hover::before {
  left: 100%;
}

/* Initial text color */
.gradient-effect span {
  position: relative;
  display: inline-block;
  color: black; /* Initial text color */
  transition: color 0.5s ease;
}

/* Change color on hover */
.gradient-effect:hover span {
  color: #F0B541;
}

/* Apply delay to each span */
.gradient-effect span:nth-child(1) {
  transition-delay: 0s;
}

.gradient-effect span:nth-child(2) {
  transition-delay: 0.1s;
}

.gradient-effect span:nth-child(3) {
  transition-delay: 0.11s;
}

.gradient-effect span:nth-child(4) {
  transition-delay: 0.12s;
}

.gradient-effect span:nth-child(5) {
  transition-delay: 0.13s;
}

.gradient-effect span:nth-child(6) {
  transition-delay: 0.14s;
}



.footer-hover-effect {
  color: #18272F; /* Default text color */
  position: relative;
  text-decoration: none;
  overflow: hidden; /* Ensure no overflow of the effect */
}

.footer-hover-effect::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #F0B541; /* Yellow color for the highlight effect */
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.footer-hover-effect:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


/* Container for all images */
.image-container {
  display: flex; /* Aligns the images in a row */
  gap: 10px; /* Space between images */
}

/* Wrapper for each image and its description */
.image-wrapper {
  position: relative; /* For positioning the description */
}

/* Image styling */
.image {
  display: block; /* Removes any extra space below the image */
  transition: opacity 0.3s ease; /* Smooth transition */
}

/* Description styling */
.description {
  position: absolute; /* Positions the description relative to the wrapper */
  left: -10px;
  padding-left: 3px;
  padding-right: 3px;
  bottom: 35px; /* Adjust as needed */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */

}

/* Show description on hover */
.image-wrapper:hover .description {
  opacity: 1; /* Show description */
}

@keyframes shake1 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(-5deg) translateX(-10px);
  }
  50% {
    transform: rotate(5deg) translateX(10px);
  }
  75% {
    transform: rotate(-3deg) translateX(-5px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes shake2 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(-8deg) translateX(-15px);
  }
  50% {
    transform: rotate(8deg) translateX(15px);
  }
  75% {
    transform: rotate(-5deg) translateX(-10px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes shake3 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(-10deg) translateX(-20px);
  }
  50% {
    transform: rotate(10deg) translateX(20px);
  }
  75% {
    transform: rotate(-7deg) translateX(-15px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes shake4 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(-12deg) translateX(-25px);
  }
  50% {
    transform: rotate(12deg) translateX(25px);
  }
  75% {
    transform: rotate(-10deg) translateX(-20px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes shake5 {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(-15deg) translateX(-30px);
  }
  50% {
    transform: rotate(15deg) translateX(30px);
  }
  75% {
    transform: rotate(-12deg) translateX(-25px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

.shake {
  display: inline-block;
  transition: transform 0.3s ease;
}

.shake-shake1 {
  animation: shake1 0.6s ease;
}

.shake-shake2 {
  animation: shake2 0.6s ease;
}

.shake-shake3 {
  animation: shake3 0.6s ease;
}

.shake-shake4 {
  animation: shake4 0.6s ease;
}

.shake-shake5 {
  animation: shake5 0.6s ease;
}


.shake-on-click {
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.shake {
  animation: shake 0.6s ease;
}

@keyframes shake {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(-5deg) translateX(-10px);
  }
  50% {
    transform: rotate(5deg) translateX(10px);
  }
  75% {
    transform: rotate(-3deg) translateX(-5px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

.crawling-image {
  animation: crawl 1s ease-in-out forwards;
}

@keyframes crawl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.image-container-lucky {
  position: relative;
  display: inline-block; /* Ensures the text box positions relative to this container */
}

.text-box-lucky {
  position: absolute;
  bottom: 120%; /* Positions the text box above the image */
  left: 50%;
  transform: translateX(-50%); /* Centers the text box horizontally */
  background-color: #c6c6c6;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  white-space: normal; /* Allows text to wrap */
}

.text-box-lucky::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust as needed for spacing */
  left: 50%; /* Position the tail on the bottom */
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #c6c6c6;
}

.image-container-lucky:hover .text-box-lucky {
  opacity: 1;
}





.iframe-container {
  position: relative;
  width: 100vw; /* Full width */
  height: 20vh; /* Adjust height as needed */
}

iframe {
  width: 100%; /* Full width of container */
  height: 100%; /* Full height of container */
}

.overlay {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  text-align: center;
  z-index: 10; /* Ensure overlay is above iframe */
  pointer-events: none; /* Ensure overlay does not block interactions */
}

.overlay p {
  margin: 0;
}
